<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.personal.kakaoLogin.mapper">

	<!-- 회원 정보 조회 -->
	<select id="selectOne" resultType="dto">
		select * from liferegister
		where
		common_id = #{common_id}
		and
		common_pw = #{common_pw}
	</select>
	
	
	<!-- 회원 가입 -->
	<insert id="register" parameterType="dto">
	
	
		INSERT INTO liferegister
		(
		common_code, common_id, common_pw, common_name, common_birth, common_gender, common_phone, common_addr
		)
		values
		(
		(select count(common_code)+1 from liferegister lr),
		#{common_id}, #{common_pw}, #{common_name},
		#{common_birth}, #{common_gender}, #{common_phone}, 
		#{common_addr}
		)
	</insert>
	
	<insert id="insertLaw" parameterType="dto">
	<!-- 시퀀스 생성 -->
	<!-- http://www.trandent.com/article/etc/detail/670 -->
	
		INSERT INTO law_info

		values(
		(SELECT CONCAT('L', '-', (SELECT LPAD(common_code ,4,'0') FROM liferegister lr where common_id = common_id ))),
		(select common_code from liferegister r where common_id = '#{common_id}'),
		#{license}, 1);
	</insert>
	
	<insert id="insertSaver" parameterType="dto">
	
		INSERT INTO saver_info
		(
		saver_code, common_code, saver_license, saver_grade, saver_job, saver_job_addr
		)
		values(
		(select concat('S', '-', (select lpad(lr.common_code ,4,'0') from liferegister lr where common_id = '${lr.common_id}' ))),
		(select lr.common_code from liferegister lr where common_id = '${lr.common_id}'),
		${saver_license}, ${saver_grade}, ${saver_job}, ${saver_job_addr});
	

	</insert>
	
	<select id="saverByCommonCode" resultType="dto">
		
		select * from saver_info
		where
		common_code = #{common_code};
	
	</select>
	
	<select id="lawyerByCommonCode" resultType="dto">
		
		select * from law_info
		where
		common_code = #{common_code};
	
	</select>
	


</mapper>