@charset "UTF-8";

html, body {
	color: #454545;
	font-family: Noto Sans CJK JP;
	font-weight: bold;
}

img {
	max-width: 100%;
	max-height: auto;
}

#container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	/* border: 1px solid black; */
}

#header {
	padding: 20px;
	margin-bottom: 20px;
	/* border: 1px solid green; */
}

#frame {
	width: 70%;
	display: inline-block;
	clear: both;
	/* border: 1px solid red; */
}

#authtext{
	text-align: left;
}

#auth {
	/* border: 1px solid yellow; */
	background-color: #f8f8f8;
	margin-bottom: 22px;
}

#insert {
	width: 100%;
	border-top: 1px solid red;
	float: left;
	text-align: left;
}


#email_name, #email_text1, #email_text2, #emailselectionDIV{
	display: inline-block;
}


.selection{
	vertical-align: middle;
	width: 157px;
	height: 39px;
	border-radius: 5px 5px 5px 5px;
}

#birth_name, #birthselectionDIV, #monthselectionDIV, #dayselectionDIV {
	display: inline-block;
}

#address_post_text, #address_post_button, #postaddress {
	display: inline-block;
}


.names {
	width: 120px;
	height: 37px;
	padding-top: 23px;
	padding-left: 10px;
	background-color: rgb(249, 249, 249);
	display: inline-block;
}

.texts {
	width: 40%;
/* 	padding-top: 20px; */
	padding-left: 10px;
	margin-right: 20px;
	display: inline-block;
	margin: 0 auto;
}

.buttons {
	display: inline-block;
	margin-left: 10px;
}

.fields {
	height: 60px;
	
}

#email_text {
	margin-left: 10px;
	display: inline-block;
}

#birth_text, #address_text, #grade_text1 {
	display: inline-block;
}

input[type=text] {
	width: 100%;
	height: 35px;
	border: 1px solid gray;
	border-radius: 5px 5px 5px 5px;
}

#pw{
	width: 100%;
	height: 35px;
	border: 1px solid gray;
	border-radius: 5px 5px 5px 5px;
}
	
}

input[id="cb1"] + #cb1 {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

input[id="cb2"] + #cb2 {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
}

@media ( max-width : 480px) {
	#container, #frame, #header {
		width: auto;
	}
	
	#authtext, #auth {
		width : auto;
	}
	
	#insert {
		width: auto;
	}
	
	#emailfield, #birthfield, #addressfield, #gradefield{
		width: auto;
		height: auto;
		display: table;
	}
	
	#email_text{
		display: table-cell;
		padding-left: 10px;
	}
	
	#birth_text, #address_text, #grade_text1{
		display: table-cell;
	}
	input {
		width: auto;
		height: auto;
	}
	img {
		width: auto;
	}
}